<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="singIn()">
        <div class="box">
            <h1>Login</h1>
            <div class="form-control">
                <label for="email">Email:</label>
                <input type="text" placeholder="Email@email.com" id="email" formControlName="userName">
            </div>
            <div class="form-control">
                <label for="senha">Senha:</label>
                <input type="password" placeholder="Senha" id="senha" formControlName="password">
            </div>
            <div class="acoes">
                <button class="botao">login</button>
            </div>
            <div class="cadastro">
                <label for="cadastro">Ainda não tem conta?</label>
                <button class="botaoOutlined" id="cadastro" routerLink="cadastro">cadastre-se</button>
            </div>
        </div>
    </form>
</div>
