.container{
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    h1{
        margin-bottom: 10px;
    }
}
.box{
    flex-direction: column;
    margin: 200px;
    padding: 15px;
    width: 550px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
    font-family: Roboto;
    
    h3{
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .endereco{
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        .numero{
            padding-left: 10px;
            label{
                text-transform: uppercase;
                width: 100%;
                padding: 3px;
            }
            input{
                margin: 5px;
                width: 100%;
                height: 35px;
                padding: 5px;
                box-sizing:border-box;
            }
        }
    }

    .endereco2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .cep{
            padding-right: 5px;
            label{
                text-transform: uppercase;
                width: 100%;
                padding: 3px;
            }
            input{
                margin: 5px;
                width: 100%;
                height: 35px;
                padding: 5px;
                box-sizing:border-box;
            }
        }
        .bairro{
            padding-left: 5px;
            label{
                text-transform: uppercase;
                width: 100%;
                padding: 3px;
            }
            input{
                margin: 5px;
                width: 100%;
                height: 35px;
                padding: 5px;
                box-sizing:border-box;
            }
        }
    }

    .form-control{
        display: block;
        label{
            text-transform: uppercase;
            width: 100%;
            padding: 3px;
        }
        input{
            margin: 5px;
            width: 100%;
            height: 35px;
            padding: 5px;
            box-sizing:border-box;
        }
    }

    .acoes{
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        margin-bottom: 10px;
    }

    
}

body{
    margin: 0px;
}