<div class="container">
    <form action="">
            <div class="box">
                <h1>Cadastro</h1>
                <h3>Dados do cliente</h3>
                    <div class="form-control">
                        <label for="nome">Nome:</label>
                        <input type="text" placeholder="Informe seu nome" id="nome">
                    </div>
                    <div class="form-control">
                        <label for="cpf">Cpf:</label>
                        <input type="text" placeholder="Informe seu CPF" id="cpf">
                    </div>
                    <div class="form-control">
                        <label for="rg">RG:</label>
                        <input type="text" placeholder="Informe seu RG" id="rg">
                    </div>
                <h3>Endereco</h3>
                    <div class="form-control">
                        <label for="rua">Rua:</label>
                        <input type="text" placeholder="Nome da rua" id="rua">
                    </div>
                    <div class="form-control">
                        <label for="numero">Numero:</label>
                        <input type="text" placeholder="Informe o numero" id="numero">
                    </div>
                    <div class="form-control">
                        <label for="cep">Cep:</label>
                        <input type="text" placeholder="Informe o cep" id="cep">
                    </div>
                    <div class="form-control">
                        <label for="bairro">Bairro:</label>
                        <input type="text" placeholder="Informe seu bairro" id="bairro">
                    </div>
                    <div class="form-control">
                        <label for="cidade">Cidade:</label>
                        <input type="text" placeholder="Informe a cidade" id="cidade">
                    </div>
                    <div class="form-control">
                        <label for="estado">Estado:</label>
                        <input type="text" placeholder="Informe o estado" id="estado">
                    </div>
                <h3>Contatos</h3>
                    <div class="form-control">
                        <label for="email">Email:</label>
                        <input type="text" placeholder="exemplo@email.com" id="email">
                    </div>
                    <div class="form-control">
                        <label for="telefone">Telefone:</label>
                        <input type="text" placeholder="(xx)99999-9999" id="email">
                    </div>
                    <div class="acoes">
                        <button class="botaoOutlined" routerLink="">Voltar</button>
                        <button class="botaoPrimary">Enviar</button>
                    </div>
            
            </div>
    </form>
</div>
