<div class="container">
    <form action="">
            <div class="box">
                <h3>Dados do cliente:</h3>
                    <div class="form-control">
                        <label for="nome">Nome:</label>
                        <input type="text" placeholder="Informe seu nome" id="nome" name="nome">
                    </div>
                    <div class="form-control">
                        <label for="cpf">Cpf:</label>
                        <input type="text" placeholder="Informe seu CPF" id="cpf" name="cpf">
                    </div>
                    <div class="form-control">
                        <label for="rg">RG:</label>
                        <input type="text" placeholder="Informe seu RG" id="rg" name="rg">
                    </div>
                <h3>Endereco:</h3>
                    <div class="form-control">
                        <label for="rua">Rua:</label>
                        <input type="text" placeholder="Nome da rua" id="rua" name="rua">
                    </div>
                    <div class="form-control">
                        <label for="numero">Numero:</label>
                        <input type="text" placeholder="Informe o numero" id="numero" name="numero">
                    </div>
                    <div class="form-control">
                        <label for="cep">Cep:</label>
                        <input type="text" placeholder="Informe o cep" id="cep" name="cep">
                    </div>
                    <div class="form-control">
                        <label for="bairro">Bairro:</label>
                        <input type="text" placeholder="Informe seu bairro" id="bairro" name="bairro">
                    </div>
                    <div class="form-control">
                        <label for="cidade">Cidade:</label>
                        <input type="text" placeholder="Informe a cidade" id="cidade" name="cidade">
                    </div>
                    <div class="form-control">
                        <label for="estado">Estado:</label>
                        <input type="text" placeholder="Informe o estado" id="estado" name="estado">
                    </div>
                    <button class="botao">Enviar</button>
            </div>
    </form>
</div>
